<body>
    <div class="navbar bg-dark">
        <a href="#" class="navbar-brand text-white">SPORTS STORE</a>
      </div>
  <div class="container">
    <div class="row">
        <div class="jumbotron">
          <h1 class="display-4">Name: {{product?.name || loading}}</h1>
          <p class="lead">Description: {{product?.description ||loading}}</p>
          <hr class="my-4">
          <p>Category: {{product?.category || loading}}</p>
          <hr class="my-4">
          <p>Price: {{product?.price || loading}}</p>
        </div>
    </div>
    <div class="row">
        <router-outlet></router-outlet>
    </div>

  </div>
</body>
