<body>
    <div class="navbar bg-dark">
        <a href="#" class="navbar-brand text-white">SPORTS STORE</a>
      </div>
  <div class="container">
    <div class="row">
        <div class="jumbotron">
          <h1 class="display-4">Name: {{product?.name || loading}}</h1>
          <p class="lead">Description: {{product?.description ||loading}}</p>
          <hr class="my-4">
          <p>Category: {{product?.category || loading}}</p>
          <hr class="my-4">
          <p>Price: {{product?.price || loading}}</p>
          <div class="accordion" id="accordionSuppliers">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                   aria-controls="collapseOne" (click)="toggle()">
                    Supplier
                  </button>
                </h2>
              </div>

              <div id="collapseOne" class="collapse" [class.show]="supplierShow" aria-labelledby="headingOne" data-parent="#accordionSuppliers">
                <div class="card-body">
                  <p>Name: {{product?.supplier?.name}}</p>
                  <p>City: {{product?.supplier?.city}}</p>
                  <p>State: {{product?.supplier?.state}}</p>
                  <p>Products: {{product?.supplier?.products?.length}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <router-outlet></router-outlet>
    </div>

  </div>
</body>
