
<div class="navbar bg-dark">
  <div class="row">
    <div class="col">
      <a class="navbar-brand text-white">
        Sports Store
      </a>
    </div>
    <div class="col text-white mr-1">
      <store-cartsummary></store-cartsummary>
    </div>
    <div class="col text-white m-1">
      <a [routerLink]="['/admin/overview']" routerLinkActive="active" class="btn btn-outline-info">Admin</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row no-gutters">
    <div class="col-3">
      <store-categoryfilter></store-categoryfilter>
    </div>
    <div class="col">
      <store-product-list></store-product-list>
      <store-pagination></store-pagination>
    </div>
  </div>
</div>

